extends ./layouts/layoutContact.pug
block contact_content
    .contact_content
      .contact_font
        img.contact_img(src='./Images/georgiana.jpg' alt='Georgiana Stativa on facebook')
        ul.for_ul
          li.contact_info Stativa Georgiana
          li.contact_info
            a(href='https://www.facebook.com/camelia.stativa' target='_blank')
              img.forimg(src='./Images/Icons/facebook.png' alt='find Georgiana on: facebook ')
            a(href='https://www.instagram.com/' target='_blank')
              img.forimg(src='./Images/Icons/instagram.png' alt=' instagram ')
            a(href='https://ro.linkedin.com/' target='_blank')
              img.forimg(src='./Images/Icons/linked_in.png' alt=' linked_in')
          li.contact_info Email: stativa50@gmail.com
      .contact_font
        img.contact_img(src='./Images/ana.jpg' alt='Ana Maria Zanceanu on facebook')
        ul.for_ul
          li.contact_info Zanceanu Ana-Maria
          li.contact_info
            a(href='https://www.facebook.com/anamaria.zanceanu' target='_blank')
              img.forimg(src='./Images/Icons/facebook.png' alt='find Ana on: facebook ')
            a(href='https://www.instagram.com/anamariazanceanu/' target='_blank')
              img.forimg(src='./Images/Icons/instagram.png' alt=' instagram ')
            a(href='https://ro.linkedin.com/' target='_blank')
              img.forimg(src='./Images/Icons/linked_in.png' alt=' linked_in')
          li.contact_info Email: ana.zanceanu@gmail.com
      .contact_font
        img.contact_img(src='./Images/adi.jpg' alt='Adrian Tipa on facebook')
        ul.for_ul
          li.contact_info Tipa Adrian-Ionut
          li.contact_info
            a(href='https://www.facebook.com/adrian.tipa.7' target='_blank')
              img.forimg(src='./Images/Icons/facebook.png' alt='find Adrian on: facebook ')
            a(href='https://www.instagram.com/' target='_blank')
              img.forimg(src='./Images/Icons/instagram.png' alt=' instagram ')
            a(href='https://ro.linkedin.com/' target='_blank')
              img.forimg(src='./Images/Icons/linked_in.png' alt=' linked_in')
          li.contact_info Email: adriantipa18@gmail.com
block documentation
