extends ./layouts/layoutDashboard.pug
block controler_first_div
    a#user_button.control_button USERS
    a#accident_button.control_button ACCIDENTS
block controle_2_div
    #user_number
        #dash_stats_upper
            .dash_stats_text
                h5  USERS
            .dash_button_stats
                button  TOTAL
        #dash_stats_down
            h3  123

    #new_users
    #emails_send
block controle_3_div
    a#add_button.add_button ADD