extends ./layouts/layoutProfile.pug
block profile_content
    .profile_content
      div
        h1 Profile
      .box
        div Email:
        p#email(email='') random@gmail.com
      .box
        div Username:
        p#username(username='') random
      .box_criterii
        select#criterii
          option(selected='' hidden='') Criteriu
          option#State(value='State') State
          option#County(value='County') County
          option#City(value='City') City
          option#City(value='Street') Street
          option#Timezone(value='Timezone') Timezone
        select#optiune
          option(selected='' hidden='') Optiune
      

