extends ./layouts/layoutStatistici.pug
block left_content
    .box
        svg(id="root" height="500" width="500" viewBox="0 0 500 500")
    script(src="./Scripts/chart.js")
block right_content
    include ./statisticsComponents/filtres
        