doctype html
head
  title AVi
  meta(charset='utf-8')
  link(rel='stylesheet' href='desktop_style.css')
  link(rel='stylesheet' href='mobile_style.css')
  link(rel='stylesheet' href='common_style.css')
  meta(name='description' content='Instrument Web de vizualizare flexibila a datelor vizand accidentele din SUA')
  meta(name='viewport' content='width=device-width')
  script(src='./Scripts/counter.js')
  script(src='./Scripts/info_panel.js')
  script(src='./Scripts/login_button.js')
  script(src='./Scripts/news_phone.js')
  script(src='./Scripts/news_phone_info.js')
  script(src='./Scripts/top_button.js')
  link(rel='icon' href='Images/logo1.png' type='image/x-icon')
// POP UP LOGIN
.bg_model
  .pop_up
    .close +
    .pop_up_top
      form.form_log(action='action_page.php')
        h1 Subscribe to our newsletter!
        .row_log
          .col_log_1
            input(type='text' name='username' placeholder='Username' required='')
            input(type='password' name='password' placeholder='Password' required='')
            input(type='submit' value='Login')
          .or_bullet
            span.or_bullet_text OR
          .col_log_2
            .row_bottom
              a#sign_up.button_pop(href='#') Sign up
  .pop_up_sign_up
    .close_sign +
    .pop_up_top
      form.form_log(action='action_page.php')
        h1 Subscribe to our newsletter!
        .row_log
          .col_log_1
            input(type='text' name='email' placeholder='Email' required='')
            input(type='text' name='username' placeholder='Username' required='')
            input(type='password' name='password' placeholder='Password' required='')
          .col_log_2
            input(type='submit' value='Register')
#main_all.body_all
  // HEADER
  .header
    // NAV_BAR
    .nav
      .logoformobile
        a(href='index.html')
          img(src='Images/logo.png' alt='AVi')
      .main_menu
        ul
          li
            a.logo(href='index.html')
              img.effect3(src='Images/logo_renew.png' alt='AVi')
          li
            a#active.myButton(href='index.html') HOME
          li
            a.myButton(href='contact.html') CONTACT
          li
            a#button.myButton(href='#') #{vari}
      .statistics
        ul
          li.effect1
            a(href='map.html')
              img.for_img(title='Maps' src='./Images/Icons/map.png')
            a(href='pie.html')
              img.for_img(title='Pie Chart' src='./Images/Icons/pie-white.png')
            a(href='chart.html')
              img.for_img(title='Chart' src='./Images/Icons/bar-chart.png')
  .main
    .left_main
      block content_left
    .right_main
      block content_right
  button#top_button(title='Go to top') Top
  // FOOTER
  .footer
    .footer_content
      .left_footer
        ul
          li.inline_list &copy; Copyrights 2019-2020 AVi
      .right_footer
        ul
          li.inline_list
            a(href='https://www.facebook.com/' target='_blank')
              img.forimg(src='./Images/Icons/facebook-white.png' alt='find us on: facebook ')
          li.inline_list
            a(href='https://www.instagram.com/' target='_blank')
              img.forimg(src='./Images/Icons/instagram-white.png' alt=' instagram ')
          li.inline_list
            a(href='https://twitter.com/' target='_blank')
              img.forimg(src='./Images/Icons/twitter-white.png' alt=' twitter ')
script.
  var element = document.getElementsByClassName("counter_numbers");
  element.innerHTML = "5000";
