.bg_model
  .pop_up
    .close +
    .pop_up_top
      form.form_log(id='form_login')
        h1 Subscribe to our newsletter!
        h2#login_response
        .row_log
          .col_log_1
            input(id='username' type='text' name='username' placeholder='Username')
            #err_user_log
              small
            input(id='password' type='password' name='password' placeholder='Password')
            #err_pass_log
              small
            input(type='submit' value='Login' id='login_button')
          .or_bullet
            span.or_bullet_text OR
          .col_log_2
            .row_bottom
              a#sign_up.button_pop Sign up
  .pop_up_sign_up
    .close_sign +
    .pop_up_top
      form.form_log(id='form_signup')
        h1 Subscribe to our newsletter!
        h2#register_response
        .row_log
          .col_log_1
            input(id='email' type='text' name='email' placeholder='Email')
            #err_email_signup
              small
            input(id='username_signup' type='text' name='username' placeholder='Username')
            #err_user_signup
              small
            input(id='password_signup' type='password' name='password' placeholder='Password')
            #err_pass_signup
              small
          .col_log_2
            input(type='submit' value='Register' id='register_button')