extends ./layouts/layoutBarChart.pug
block left_content
    canvas#bar_chart(width='960', height='800')
        | Your browser does not support the canvas element.
block loading
    h3 Loading...
    #loader
block right_content
    include ./statisticsComponents/filtres
        