extends ./layouts/layoutLineChart.pug
block left_content
    canvas#line_chart
        | Your browser does not support the canvas element.
block right_content
    include ./statisticsComponents/filtersMulti
        