extends ./layouts/layoutBarChart.pug
block left_content
    canvas#line_chart(width='960', height='800')
        | Your browser does not support the canvas element.
block right_content
    include ./statisticsComponents/filtres
        