head
  title AVi
  meta(charset='utf-8')
  link(rel='stylesheet' href='./styles/desktop_style.css')
  link(rel='stylesheet' href='./styles/mobile_style.css')
  link(rel='stylesheet' href='./styles/common_style.css')
  meta(name='description' content='Instrument Web de vizualizare flexibila a datelor vizand accidentele din SUA')
  meta(name='viewport' content='width=device-width')
  script(src='./Scripts/counter.js')
  script(src='./Scripts/login_button.js')
  script(src='./Scripts/news_phone.js')
  script(src='./Scripts/news_phone_info.js')
  script(src='./Scripts/top_button.js')
  script(src="./Scripts/form_validation.js")
  script(src="./Scripts/form_signup_validation.js")
  script(src='./Scripts/get_login.js')
  script(src='./Scripts/homePage_calls/accidentsCounter.js')
  script(src='./Scripts/homePage_calls/news.js')
  link(rel='icon' href='Images/logo1.png' type='image/x-icon')