.header
    // NAV_BAR
    .nav
      .logoformobile
        a(href='index.html')
          img(src='Images/logo.png' alt='AVi')
      .main_menu
        ul
          li
            a.logo(href='index.html')
              img.effect3(src='Images/logo_renew.png' alt='AVi')
          li
            a#active.myButton(href='http://localhost:5001/home') HOME
          li
            a.myButton(href='http://localhost:5001/contact') CONTACT
          li
            a#button.myButton(href='#') LOGIN
      .statistics
        ul
          li.effect1
            a(href='map.html')
              img.for_img(title='Maps' src='./Images/Icons/map.png')
            a(href='pie.html')
              img.for_img(title='Pie Chart' src='./Images/Icons/pie-white.png')
            a(href='chart.html')
              img.for_img(title='Chart' src='./Images/Icons/bar-chart.png')