head
  title AVi
  meta(charset='utf-8')
  link(rel='stylesheet' href='./styles/desktop_style.css')
  link(rel='stylesheet' href='./styles/mobile_style.css')
  link(rel='stylesheet' href='./styles/landscape_style.css')
  link(rel='stylesheet' href='./styles/common_style.css')
  meta(name='description' content='Instrument Web de vizualizare flexibila a datelor vizand accidentele din SUA')
  meta(name='viewport' content='width=device-width')
  script(src='./Scripts/login_button.js')
  script(src='./Scripts/description_div.js')
  script(src='./Scripts/color_level.js')
  script(src='./Scripts/range.js')
  script(src='./Scripts/top_button.js')
  script(src='https://d3js.org/d3.v4.js')
  script(src='./Scripts/map_script.js')
  link(rel='icon' href='Images/logo1.png' type='image/x-icon')
