.footer
    .footer_content
      .left_footer
        ul
          li.inline_list &copy; Copyrights 2019-2020 AVi
      .right_footer
        ul
          li.inline_list
            a(rel="noopener" href='https://www.facebook.com/' target='_blank')
              img.forimg(src='./Images/Icons/facebook-white.png' alt='find us on: facebook ')
          li.inline_list
            a(rel="noopener" href='https://www.instagram.com/' target='_blank')
              img.forimg(src='./Images/Icons/instagram-white.png' alt=' instagram ')
          li.inline_list
            a(rel="noopener" href='https://twitter.com/' target='_blank')
              img.forimg(src='./Images/Icons/twitter-white.png' alt=' twitter ')
