head
    title AVi
    meta(charset='utf-8')
    link(rel='stylesheet' href='./styles/desktop_style.css')
    link(rel='stylesheet' href='./styles/mobile_style.css')
    link(rel='stylesheet' href='./styles/common_style.css')
    link(rel='stylesheet' href='./styles/landscape_style.css')
    link(rel='icon' href='./Images/logo1.ico' type='image/x-icon')
    meta(name='description' content='Instrument Web de vizualizare flexibila a datelor vizand accidentele din SUA')
    meta(name='viewport' content='width=device-width')
    script(src='./Scripts/top_button.js')
    script(src='./Scripts/get_user_profile.js')
    script(src='./Scripts/authentication/get_login.js')
    script(src='./Scripts/dashboard_calls/get_users.js')