head
  title AVi
  meta(charset='utf-8')
  link(rel='stylesheet' href='./styles/desktop_style.css')
  link(rel='stylesheet' href='./styles/mobile_style.css')
  link(rel='stylesheet' href='./styles/common_style.css')
  link(rel='stylesheet' href='./styles/landscape_style.css')
  link(rel='icon' href='./Images/logo1.ico' type='image/x-icon')
  meta(name='description' content='Instrument Web de vizualizare flexibila a datelor vizand accidentele din SUA')
  meta(name='viewport' content='width=device-width')
  link(rel="preconnect", href="http://localhost:5003")
  link(rel="preconnect", href="http://localhost:5004")
  script(src='./Scripts/get_user_profile.js')
  script(src='./Scripts/authentication/login_button.js')
  script(src='./Scripts/news_phone.js')
  script(src='./Scripts/top_button.js')
  script(src="./Scripts/authentication/form_validation.js")
  script(src="./Scripts/authentication/form_signup_validation.js")
  script(src='./Scripts/authentication/get_login.js')
  script(src='./Scripts/homePage_calls/accidentsCounter.js')
  script(src = './Scripts/homePage_calls/news.js')
  script(src = './Scripts/homePage_calls/news_phone.js')