doctype html
include ./layoutComponents/head.pug
// POP UP LOGIN
include ./layoutComponents/login.pug
#main_all.body_all
  // HEADER
  include ./layoutComponents/header.pug
  .main
    .left_main
      block content_left
    .right_main
      block content_right
    block content_right_main_phone
    block pop_up_news
  block content_bottom
  button#top_button(title='Go to top') Top
  // FOOTER
  include ./layoutComponents/footer.pug
