doctype html
html(lang='en')

include ./layoutComponents/headDashboardUsers.pug
#main_all.body_all
    include ./layoutComponents/header.pug
    .dash_container
        .control_first_div
            block controller_first_div
        .control_users
            block controller_users
    button#top_button(title='Go to top') Top
    // FOOTER
    include ./layoutComponents/footer.pug
