doctype html
include ./layoutComponents/headProfile.pug
#main_all.body_all
  // HEADER
  include ./layoutComponents/header.pug
  .content
    block profile_content
  button#top_button(title='Go to top') Top
  // FOOTER
  include ./layoutComponents/footer.pug
