.export
    .csv_class
        .csv_icon
            img#csv_export(src='./Images/Icons/csv_icon.png' alt='Download CSV file')
        .csv_text
            p CSV
        .plus
            p +
    .png_class
        .png_icon
            img#png_export(src='./Images/Icons/png_icon.png' alt='Download PNG file')
        .png_text
            p PNG
        .plus
            p +
    .svg_class
        .svg_icon
            img#svg_export(src='./Images/Icons/svg_icon.png' alt='Download SVG file')
        .svg_text
            p SVG
        .plus
            p +