/*ZONA COMUNA PENTRU MOBILE SI DESKTOP*/




/*FRAME*/


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0;
}

.body_all {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: space-between;
    margin: 0;
}

.main p {
    margin: 0px;
}

/*END FRAME*/





/*LOGO*/

.logo {
    text-decoration: none;
    align-self: center;
}

.logo a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

.logo a:hover {
    opacity: 0.5;
}

/*END LOGO*/





/*FOOTER*/

.footer {

    display: flex;
    flex-direction: row;
    background-color: #041F60;
    height: auto;
    width: auto;
    align-self: auto;
    justify-content: center;
    margin: 0;
    clear: both;
}

.footer_content {
    width: 80%;
    margin: auto;
    display: flex;
}

.left_footer {
    align-self: center;
    color: #fff;
    height: 90%;
    width: 48%;
    margin: auto;
    text-align: left;
}

.right_footer {
    text-align: end;
    align-self: center;
    color: #fff;
    width: 48%;
    margin: auto;
    height: 100%;
}

.inline_list {
    display: inline;
    text-decoration: none;
    margin-left: 2vw;
}

.inline_list ul,
.inline_list ul li,
.inline_list a {
    text-decoration: none;
}

.inline_list a:hover {
    opacity: 0.5;
}

.forimg {
    width: 3vh;
    height: auto;
    text-decoration: none;
}

.forimg:hover {
    opacity: 0.4;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
    text-decoration: none;
}

/*END ZONA FOOTER*/





/*CONTACT*/
.contact_info a {
    text-decoration: none;
}

.contact_info a:link,
a:visited,
a:active {
    opacity: 1;
    text-decoration: none;
}

.contact_info a:hover {
    opacity: 0.4;
    text-decoration: none;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.for_ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.for_ul li {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

.contact_info {
    width: auto;
    height: auto;
    text-align: center;
    align-self: center;
    padding: 1vh 0 1vh 0;
    text-decoration: none;
}

.contact_info ul,
ul li {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}

/*END CONTACT*/





/*MAP*/
#svg_map {
    left: 0;
    margin: 0;
    width: 100vw;
    height: 75vh;
}

#svg_map>path {
    fill: #84b18f;
    stroke: black;
}

/*HOVER MAP*/
#high {
    background-color: rgb(15, 17, 92);
}

#medium {
    background-color: #174ea6;
}

#low {
    background-color: #81aaec;
}

.high_s {
    fill: rgb(15, 17, 92);
}

.medium_s {
    fill: #174ea6;
}

.low_s {
    fill: #81aaec;
}

.high_s:hover {
    fill: rgb(3, 14, 31);
}

.medium_s:hover {
    fill: #0f3674;
}

.low_s:hover {
    fill: #356ec9;
}

#states {
    stroke: black;
    stroke-width: 1.5;
}

.history_line {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
}

.cbox {
    border: 2px solid black;
    width: 4vw;
    height: 2vh;
    border-radius: 10%;
}

.history_line>p {
    font-family: 'Bahnschrift SemiBold', 'serif';
}

/*END ZONA MAP*/





/*FILTRE*/


.slider_container_2 .slider {
    z-index: 0;
    margin-bottom: 0px;
    align-self: center;
    width: 60%;
    -webkit-appearance: none;
    height: 1vh;
    border-radius: 2px;
    border-color: black;
    background-image: linear-gradient(to right, rgb(144, 191, 209), rgba(221, 195, 80, 0.863), rgb(3, 22, 31));
}


.icons {
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    align-self: center;
}

.slider_container_2 .slider:hover {
    color: gray;
}

.slider_container_2 .slider:active+output {
    display: block;
    width: 40px;
    left: 80%;
    transform: translateX(-50%);
    transform: translateY(+150%);
    opacity: 1;
}

.slider_container_2 output {
    position: absolute;
    display: none;
    width: 50px;
    height: 24px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 3px;
    color: #777;
    font-size: .8em;
    line-height: 24px;
    text-align: center;
}

.slider_label {

    align-self: center;
    font-family: 'Bahnschrift SemiBold', 'serif';
    font-size: 1rem;
}

.slider_container_1 .slider:hover {
    color: gray;
}

.slider_container_1 .slider {
    z-index: 0;
    margin-bottom: 0px;
    align-self: center;
    width: 60%;
    -webkit-appearance: none;
    height: 1vh;
    border-radius: 2px;
    border-color: black;
    background-image: linear-gradient(to right, #174ea6, #4285f4, #d2e3fc);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: black;
    overflow: visible;
    cursor: pointer;
    box-shadow: 4px 1px;
}


.slider_label {
    align-self: center;
    font-family: 'Bahnschrift SemiBold', 'serif';
    font-size: 1rem;
}

.slider_container_1 .slider:hover {
    color: gray;
}

.slider_label {
    align-self: center;
    font-family: 'Bahnschrift SemiBold', 'serif';
    font-size: 1rem;
}

.slider_container_1 .slider:hover {
    color: gray;
}

/* CALENDAR*/

.label_calendar {
    align-self: center;
    font-family: 'Bahnschrift SemiBold', 'serif';
    font-size: 1rem;
}

#accident_date {
    z-index: 0;
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
    border: 2px solid black;
    align-self: center;
    border-radius: 3px;
    padding: 3px 5px;
    background-color: #174ea6;
}

#accident_date[type="date"]::-webkit-inner-spin-button {
    display: none;
}

#accident_date[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

#submit_button:hover {
    background-color: #041F60;
    color: white;
}

/*END ZONA FILTRE*/